<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | AMV System</title>
    <script src="https://kit.fontawesome.com/c0078485ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="shortcut icon" href="/assets/images/logo/big_temp_logo.png" type="image/png">


</head>

<body>
    <img src="https://i.ibb.co/XWdPc2X/wave-01.png" alt="" class="wave">
    <div class="container">
        <div class="img">
            <a href="https://buksu.edu.ph/" target="_blank">
            <img src="/img/logo.jpg"  alt=""></a>
        </div>
        <div class="login-container">
            <form class="form-login" action="/login" method="post">
            	<!--<h2>Welcome</h2>-->
            	<h1>Welcome</h1>
                <h3>Air Monitoring & Ventilation System</h3>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"> </i>
                    </div>
                    <div>
                        <input class="input" type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"> </i>
                    </div>
                    <div class="div">
                        <input class="input" type="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <input type="submit" class="btn" >
                <a href="#">Forgot Password?</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>

</body>
</html>